<header>
	<div class = "container-fullwidth">
		<nav class ="navbar navbar-inverse navbar-fixed-top">
		    <div class = "navbar-header">			
		        <span>
		            <span (click) ="changePage('main')" class="navbar-brand click"> Taboo </span>
		            <span class="navbar-brand click"> Game Rules </span>
		        </span>
		        <div *ngIf="loginStatus == 'false'">
		        	<span (click) = "changePage('signup')" class="navbar-brand login click"> 
		        		Sign Up 
		       	 	</span>

		        	<span (click) = "changePage('login')" class="navbar-brand login click">
		           		Login
		       		</span>
		       	</div>

		       	<div *ngIf="loginStatus == 'true'">
		       		
		       		<span (click) = "logout()" class="navbar-brand login click"> 
		        		Logout
		       	 	</span>

		       	 	<span class="navbar-brand login click"> 
		        		My Profile
		       	 	</span>
		       	</div>


		    </div>
		</nav>
	</div>
</header>

<main>
	<div *ngIf="page == 'main'">
    	<main-app> </main-app>
    </div>
    <div *ngIf="page == 'signup' && loginStatus == 'false'">
    	<new-user (loginEmitter) = "changeLogin($event)"> </new-user>
    </div>
    <div *ngIf="page == 'login'">
    	<login-user>	</login-user>
    </div>

    <div *ngIf="loginStatus == 'true'">
    	<profile> </profile>
    </div>
</main>