/*
	CSS styles for the body
*/
.login {
	float:right;
}
.click {
	cursor:pointer;
}

.navbar-header {
	width: 100%;
}
.container-fullwidth {
	margin-bottom:90px;
}

.navbar-header {
	padding-right: 30px;
	padding-left: 30px;
}