<header>
	<div class = "container-fullwidth">
		<nav class ="navbar navbar-inverse navbar-fixed-top">
		    <div class = "navbar-header">			
		        <span>
		            <span (click) ="changePage('main')" class="navbar-brand click"> Taboo </span>
		            <span class="navbar-brand click"> Game Rules </span>
		        </span>
		        <div *ngIf="loginStatus == 'false'">
		        	<span (click) = "changePage('signup')" class="navbar-brand login click"> 
		        		Sign Up 
		       	 	</span>

		        	<span (click) = "changePage('login')" class="navbar-brand login click">
		           		Login
		       		</span>
		       	</div>

		       	<div *ngIf="loginStatus == 'true'">
		       		
		       		<span (click) = "logout()" class="navbar-brand login click"> 
		        		Logout
		       	 	</span>

		       	 	<span (click) = "changePage('profile')" class="navbar-brand login click"> 
		        		My Profile
		       	 	</span>
		       	</div>


		    </div>
		</nav>
	</div>
</header>

<main>
	<div *ngIf="page == 'main' && loginStatus == 'true'">
    	<main-app> </main-app>
    </div>
    
    <div *ngIf="page == 'signup' ">
    	<new-user (currentUserEmitter) = "changeCurrentUser($event)" (loginEmitter) = "changeLogin($event)"> </new-user>
    </div>
    <div *ngIf="page == 'login'">
    	<login-user>	</login-user>
    </div>

    <div *ngIf="loginStatus == 'true' && page == 'profile'">
    	<profile [currentUser] = "currentUser"> </profile>
    </div>


    <div *ngIf="page == 'main' && loginStatus == 'false'">
    	
    	<!--> Game Home Page <!-->

    	<div class="intro-header">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-12">
	                    <div class="intro-message">
	                        <h1>Taboo!</h1>
	                        <h3>Collaborative Gaming with a Purpose</h3>
	                        <hr class="intro-divider">
	                        
	                    
	                        <ul class="list-inline intro-social-buttons">
	                            
	                            <li>
	                                <a href="https://github.com/mahimnakelkar/Taboo" class="btn btn-default btn-lg"> <i class="fa fa-github fa-fw"> <img src="https://assets-cdn.github.com/favicon.ico" height="25px" width="25px" /> </i> <span class="network-name">Github</span></a>
	                            </li>
	                            
	                        </ul>

	                    </div>
	                </div>
	            </div>

	        </div>
	    </div>


    </div>



</main>
