<table>
	<tr>
		<td [style.width]="redWidth" class="red">	</td>
		<td [style.width]="blueWidth" class="blue">	</td>
	</tr>
</table>
<p>

<div *ngFor = "let card of cards">
	<div class = "flip-container">
		<div class = "flipper">
			<div class = "front" >
				<div class = "card" [style.background-color]="getColor(card)">
					<div class = "clue">
						<div *ngFor = "let hint of card.hints">
							<div class="hint-wrapper">
								<span class="hint"> {{ hint }} </span>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class = "back">
				<div class = "card" [style.background-color]="getColor(card)">
					
					<div class="inputDiv">
						<input #inputs type = 'text' class='answerInput' [value] = 'answer' [(ngModel)]="answer"/>
					</div>
					<button (click)= "submitAnswer(card,answer,inputs)" class="btn btn-sm btn-block btn-default"> Answer </button>
					
				</div>
			</div>
		</div>
	</div>
</div>

<div class="box" *ngIf="f_showAddCard == 'true'">
	<input type="text" class="addInput" placeholder="Clue 1" [value] = 'clue1' [(ngModel)]="clue1"/> <br> <br>
	<input type="text" class="addInput" placeholder="Clue 2" [value] = 'clue2' [(ngModel)]="clue2"/> <br> <br>
	<input type="text" class="addInput" placeholder="Clue 3" [value] = 'clue3' [(ngModel)]="clue3"/> <br> <br>
	<input type="text" class="addInput" placeholder="Answer" [value] = 'ans' [(ngModel)]="ans"/> <br> <br>
	<button (click)="addCard()" class="btn-sm btn-block btn-default btn-primary"> Create Card </button>
</div>

<div class="addButton">
	<button (click) ="showAddCard()" class="btn-lg btn-circle btn-primary"> <span class="glyphicon glyphicon-plus"> </span> </button>
</div>
